<head>
    <title>Course</title>
</head>
{% extends 'users/layout.html' %}
{% block body %}
<link rel="stylesheet" href="../../static/users/css/stylelogin.css">
<div class="wrapper">
    <div class="title">
        {{ course.subject_id }} {{ course.subject }}
    </div>
    <form>
        <br>
        <p><b>Subject :</b> {{ course.subject }}</p>
        <p><b>Subject id :</b> {{ course.subject_id }}</p>
        <p><b>Semester :</b> {{ course.semester }}</p>
        <p><b>Year :</b> {{ course.year}}</p>
        <p><b>Seat :</b> {{ course.seat }}</p>
        <p><b>Status :</b>
            {% if course.available %}
            Open
            {% else %}
            Close
            {% endif %}
        </p>
    </form>
    <div class="topnav">
        <a href="{% url 'mycourse' %}">Add/Remove Course</a>
        <a href="{% url 'user' %}">Home</a>
    </div>
</div>
{% endblock %}