<head>
    <title>User</title>
</head>
{% extends 'users/layout.html' %}
{% block body %}
<div class="wrapper">
    <div class="title">
        Course
    </div>
    <form>
        <br>
        <b>Your course</b>
        {% for c in course %}
            <p><a href="{% url 'courseinfo' c.subject_id %}">{{ c.subject_id }} : {{ c.subject }}</a></p>
            {% empty %}
            <p>No course</p>
            {% endfor %}
            <br>
        <b>Course available</b>
            {% for c in allcourse %}
            {% if c.available %}
            {% if c.seat != 0 %}
            <p><a href="{% url 'courseinfo' c.subject_id %}">{{ c.subject_id }} : {{ c.subject }}</a></p>
            {% endif %}
            {% endif %}
            {% empty %}
            <p>No course</p>
            {% endfor %}
            <br>
        <b>All course</b>
            {% for c in allcourse %}
            <p><a href="{% url 'courseinfo' c.subject_id %}">{{ c.subject_id }} : {{ c.subject }}</a></p>
            {% empty %}
            <p>No course</p>
            {% endfor %}
            <br>
    </form>
    <form action="{% url 'add' %}" method="POST">
        <b>Add Course</b>
        {% csrf_token %}
        <select name="course">
            {% for course in not_add %}
            {% if course.available %}
            {% if course.seat != 0 %}
            <option value="{{ course.subject_id }}">{{ course }}</option>
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <div class="field">
            <input type="submit" value="Add">
        </div>
        {% if messageadd %}
        <p>{{ messageadd }}</p>
        {% endif %}
    </form>
    <form action="{% url 'remove' %}" method="POST">
        <b>Remove Course</b>
        {% csrf_token %}
        <select name="course">
            {% for course in add %}
            <option value="{{ course.subject_id }}">{{ course }}</option>
            {% endfor %}
        </select>
        <div class="field">
            <input type="submit" value="Remove">
        </div>
        {% if messageremove %}
        <p>{{ messageremove }}</p>
        {% endif %}
    </form>
    <div class="topnav">
        <a href="{% url 'user' %}">Home</a>
    </div>
</div>
{% endblock %}