<head>
    <title>Change Password</title>
</head>
{% extends 'users/layout.html' %}
{% block body %}
<link rel="stylesheet" href="../../static/users/css/stylelogin.css">
<div class="wrapper">
    <div class="title">
        Change Password
    </div>
    <form action="{% url 'changepass' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <input type="password" name="newpass" required>
            <label>New Password</label>
        </div>
        <div class="field">
            <input type="password" name="cnewpass" required>
            <label>Confirm New Password</label>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="field">
            <input type="submit" value="Confirm">
        </div>
    </form>
    <div class="topnav">
        <a href="{% url 'user' %}">Home</a>
    </div>
</div>
{% endblock %}