{% extends 'users/layout.html' %}
{% block body %}
<h1>You are {{ student }}</h1>
<h1>Welcome, {{ user.first_name }}</h1>
<ul>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <li>name: {{ student.name }}</li>
    <li>lastname: {{ student.lastname }}</li>
    <li>Id: {{ student.student_id}}</li>
</ul>

<div>Your course</div>
{% for c in course %}
<li>course {{ c }}:</li>
{% empty %}
<li>No course</li>
{% endfor %}
<br>

<div>Course available</div>
{% for c in allcourse %}
    {% if c.available %}
        <li>course {{ c }}:</li>    
    {% endif %}
    {% empty %}
    <li>No course</li>
{% endfor %}
<br>

<div>All course</div>
{% for c in allcourse %}
    <li>course {{ c }}:</li>
    {% empty %}
    <li>No course</li>
{% endfor %}

<h2>Add Course</h2>
<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <select name="course">
        {% for course in not_add %}
            {% if course.available %}
                <option value="{{ course.subject_id }}">{{ course }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Add">
</form>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<h2>Remove Course</h2>
<form action="{% url 'remove' %}" method="POST">
    {% csrf_token %}
    <select name="course">
        {% for course in add %}
        <option value="{{ course.subject_id }}">{{ course }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Remove">
</form>

<br>
<a href="{% url 'logout' %}">Log Out</a>

{% endblock %}