{% extends 'users/layout.html' %}
{% block body %}
<h1>You are {{ student }}</h1>
<h1>Welcome, {{ user.first_name }}</h1>
<ul>
    <li>Firstname: {{ student.name }}</li>
    <li>Lastname: {{ student.lastname }}</li>
    <li>Id: {{ student.student_id}}</li>
    <li>Email: {{ user.email }}</li>
</ul>

<ul>
    <div>Your course</div>
    {% for c in course %}
    <li>{{ c }}</li>
    {% empty %}
    <li>No course</li>
    {% endfor %}
</ul>

<br>

<ul>
    <div>Course available</div>
    {% for c in allcourse %}
        {% if c.available %}
            <li><a href="{% url 'courseinfo' c.subject_id %}">{{ c }}</a></li>    
        {% endif %}
        {% empty %}
        <li>No course</li>
    {% endfor %}
</ul>

<br>

<ul>
    <div>All course</div>
    {% for c in allcourse %}
        <li>{{ c }}</li>
        {% empty %}
        <li>No course</li>
    {% endfor %}
</ul>

<h2>Add Course</h2>
<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <select name="course">
        {% for course in not_add %}
            {% if course.available %}
                <option value="{{ course.subject_id }}">{{ course }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Add">
</form>
{% if messageadd %}
<p>{{ messageadd }}</p>
{% endif %}

<h2>Remove Course</h2>
<form action="{% url 'remove' %}" method="POST">
    {% csrf_token %}
    <select name="course">
        {% for course in add %}
        <option value="{{ course.subject_id }}">{{ course }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Remove">
</form>
{% if messageremove %}
<p>{{ messageremove }}</p>
{% endif %}
<br>
<div>
    <a href="{% url 'logout' %}" style="font-size: 50px;">Log Out</a>
</div>
{% endblock %}