<head>
    <title>User</title>
</head>
{% extends 'users/layout.html' %}
{% block body %}
<link rel="stylesheet" href="../../static/users/css/stylelogin.css">
<div class="wrapper">
    <div class="title">
        Welcome, {{ student }}
    </div>
    <form>
        <br>
        <b>Your information</b>
        <p>Username : {{ student.student_id}}</p>
        <p>First name : {{ student.name }}</p>
        <p>Last name : {{ student.lastname }}</p>
        <p>Email address : {{ user.email }}</p>
        <br>
        <b>Your course</b>
        {% for c in course %}
        <p><a href="{% url 'courseinfo' c.subject_id %}">{{ c.subject_id }} : {{ c.subject }} </a></p>
        {% empty %}
        <p>No course</p>
        {% endfor %}
    </form>
    <div class="topnav">
        <a href="{% url 'mycourse' %}">Add/Remove Course</a>
        <a href="{% url 'changepass' %}">Change Password</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
</div>
{% endblock %}