{% extends 'users/layout.html' %}
{% block body %}
<link rel="stylesheet" href="../../static/users/css/stylelogin.css">
<div class="wrapper">
    <form>
        <h2>{{ course.subject_id }} {{ course.subject }}</h2>
        <!-- <h4>Course information</h4> -->
        <br>
        <p><b>Subject :</b> {{ course.subject }}</p>
        <p><b>Subject id :</b> {{ course.subject_id }}</p>
        <p><b>Semester :</b> {{ course.semester }}</p>
        <p><b>Year :</b> {{ course.year}}</p>
        <p><b>Seat :</b> {{ course.seat }}</p>
        <p><b>Status :</b>
            {% if course.available %}
            Open
            {% else %}
            Close
            {% endif %}
        </p>
    </form>
</div>
{% endblock %}