{% extends 'users/layout.html' %}
{% block body %}
<link rel="stylesheet" href="../../static/users/css/stylelogin.css">
<div class="form">
    <form class="sub-form" style="min-height: 800px;">
        {% csrf_token %}
        <div class="upper-form">
            <br><br>
            <h1 align = center>{{ course.subject_id }} {{ course.subject }}</h1>
            <br>
            <b style="padding-left: 50px;">Course information</b>
            <p style="padding-left: 80px;">Subject : {{ course.subject }}</p>
            <p style="padding-left: 80px;">Subject id : {{ course.subject_id }}</p>
            <p style="padding-left: 80px;">Semester : {{ course.semester }}</p>
            <p style="padding-left: 80px;">Year : {{ course.year}}</p>
            <p style="padding-left: 80px;">Seat : {{ course.seat }}</p>
            <p style="padding-left: 80px;">Status : {% if course.available %}
                Open
                {% else %}
                Close
                {% endif %}
            </p>
        </div>
    </form>
</div>
{% endblock %}